@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav_items > ul {
  padding-inline: 4rem;
}


.nav_items > ul:hover {
  color: #424549;
  cursor: pointer;
}

.dropdown {
  @apply fixed right-0 top-20 backdrop-filter backdrop-blur-lg  bg-opacity-95  bg-primary mt-3 w-full p-5   min-w-[220px] flex flex-col gap-2 justify-end items-center text-black font-semibold text-xl;
}

.card-container {
  @apply grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 my-5 justify-center
}